.dark .logo img {
  filter: invert(90%);
}

.telegram-channel a {
  display: inline-block;
  transition: var(--link-transition);
  text-decoration: underline;
  font-weight: bold;
}
.telegram-channel a:hover {
  /* color: #2AABEE; */
  color: #09a9fd;
}
.telegram-channel svg {
  width: 25px;
  height: auto;
  vertical-align: text-bottom;
}
