<p>Hey, I’m <span class="my-name mark-line">Xiao</span>, AKA <span class="my-name mark-line">Reorx</span> on the internet. I'm a:</p>
<ul>
  <li>
    <p><strong>Full-stack web developer</strong></p>
    <p>I have 6+ years of experience in full-stack web development, operations, and project management. I specialize in
      Python, Go, and JavaScript, but I don’t shy away from other languages to solve problems.</p>
  </li>
  <li>
    <p><strong>Freelancer</strong></p>
    <p>I work from home to feed myself. I provide consulting services for creative workers and agencies to help them
      deliver better products. Meanwhile, I participate in profitable projects with my reliable partners.</p>
  </li>
  <li>
    <p><strong>Open-source enthusiast</strong></p>
    <p>I’ve always been passionate about sharing the code and solutions I worked out. I maintain projects like Python
      libraries, Chrome Extensions, and Obsidian plugins on GitHub in my spare time.</p>
  </li>
  <li>
    <p>and <strong>Product maker</strong></p>
    <p>I love making products, and I see it as the highest pursuit of my career. Over the years, I've independently built many products, either for companies or as open-source projects.
    Since last year, I’ve been working as the co-founder of a SaaS product that refines the way to collect and ingest information.</p>
  </li>
</ul>
{{- $tgIcon := resources.Get "images/forge-v2-colored.svg" }}
<p>
  <span class="telegram-channel">
    <a href="https://t.me/reorx_share" target="_blank">{{- $tgIcon.Content | safeHTML -}}Reorx’s Footprints</a>
  </span>
  is the Telegram Channel that <mark>aggregates the content I consume and create on the Internet.</mark> Join to get my updates and learn new things with me there.
</p>
<p>You can also find me at the links below.</p>
